body{
    background:url(view.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment:fixed;
}

h1{
    text-align:center;
    font-size:2.5rem;
}

button{
    display:flex;
    justify-content:center;
    margin-right:auto;
    margin-left:auto;
    margin-top:5%;
    background-color:skyblue;
    border-radius:1.56rem;
    padding:0.35rem;
    font-size:1.1rem;
    border:solid black 0.19rem;
    font-weight:900;
    color:black;
    cursor: pointer;
}

#quoteDisplay{
    font-size:1.5rem;
}

@media(min-width:540px){

    body{
        background:url(view_2.png);
    }

    h1{
        font-size:3.5rem;
    }

    #quoteDisplay{
        font-size:2rem;
    }
    
    button{
        font-size:2rem;
        padding:0.5rem;
    }
}

@media(min-width:768px){

    body{
    background-size:100%;
    }

    h1{
        font-size:4.9rem;
    }

    #quoteDisplay{
    font-size:4.5rem;
    }

    button{
    padding:1.5rem;
    border:solid black 0.4rem;
    border-radius:3rem;
    font-size:3rem;
    }
}

@media(min-width:1024px){
    h1{
        font-size:5.4rem;
    }
    
    #quoteDisplay{
        font-size:4.7rem;
    }

    button{
        font-size:4rem;
        border-radius:4rem;
    }
}

@media(min-width:1201px){
    h1{
        font-size:6.8rem;
    }

    #quoteDisplay{
        font-size:5rem;
    }
}